.zillow-hide__trashcan__button {
  width: -moz-fit-content;
  border: none;
  padding: 0;
  position: absolute;
  right: 55px;
  top: 6px;
  background: none;
}

.zillow-hide__trashcan__icon {
  width: 30px;
  height: 30px;
}
